.carousel {
  border: 1px solid black;
  padding: 0.75rem;

  .carousel__contents{
    position: relative;
    overflow: hidden;

    .carousel__contents__inner{
      display: flex;
      flex-flow: row nowrap;
      transition: all 0.25s ease;
    }
  }

  .carousel__controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.75rem;

    .carousel__controls__button{
      height: 1.5rem;
      width: 1.5rem;
      display: inline-block;

      .button--prev{

      }

      .button__next{
        
      }
    }
  }
}
