.carousel {
  border: 1px solid black;
  padding: 0.75rem;

  .carousel__contents{
    position: relative;
    overflow: hidden;

    .carousel__contents__inner{
      display: block;
      white-space: nowrap;
      transition: all 0.5s ease;
    }
  }

  .carousel__controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.75rem;
    height: 30px;

    .carousel__controls__button{
      height: 1.5rem;
      width: 1.5rem;
      display: inline-block;

      &.button--prev{
        margin-right: 5px;
      }

      &.button--next{
        margin-left: 5px;
      }
    }

    .carousel__controls__thumb{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #ccc;
      cursor: pointer;

      &:not(:first-child){
        margin-left: 5px;
      }

      &.thumb--active {
        background-color: darkgrey;
      }
    }
  }
}
