.carousel-slide-box{
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

@media (max-width: 1500px) {
  .carousel-slide-box{
    grid-template-columns: repeat(3, 1fr);
  }
}
