.carousel-slide-box{
  display: inline-flex;
  gap: 20px;
  width: 100%;

  &:not(:first-child){
    margin-left: 20px;
  }

  div {
    flex: 1;
  }
}

.carousel-slide-box2{
  display: inline-flex;
  gap: 20px;
  width: 100%;

  &:not(:first-child){
    margin-left: 20px;
  }

  div {
    flex: 1;
  }
}
